

:root{
    --primary-ligth: #7dc3c5;

    --primary: #014e58;
  
    --primary-dark: #002528;
  
    --seconday: #f67e7f;
  
    --white: #fff;
  
    --black: #000;
  
    --gray-light: #bbbbbb;
  
    --gray: #6c757d;
  
    --gray-dark: #343a40;
  
    --light: #f8f9fa;
  
    --dark: #212529;
}

.site-start h2, h1, p {
    padding: 0;
    margin: 0;
}

.site-start > div {
    background-color: var(--primary);
    display: flex;
    font-family: var(--bs-font);
    width: 100%;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-around;
    padding: 30px;
    
}

.site-start  > div > div:first-child {
    display: flex;
}
.site-start > div > div:first-child > span {
   position: relative;
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px;
   color: var(--bs-white);
}

.site-start  > div > div:first-child > nav {
   position: relative;
   display: flex;
}

.site-start  > div > div:first-child > nav > li{
   list-style: none;
   background-color: transparent;
   margin-left: 10px;
   padding: 15px;
}


.site-start  > div > div:first-child > nav > li > a{
   text-decoration: none;
   font-weight: 700;
   color: var(--bs-white);
   text-transform: capitalize;
   
}

.site-start  > div > div:last-child > button{
   background-color: transparent;
   font-size: small;
   padding: 10px;
   border: solid 1px white;
   border-radius: 20px;
   color: white;  
}



.site-start > header {
    z-index: 1;
 }

 .site-start > div > a {
    text-decoration: none;
    color: var(--bs-white);
    font-weight: bold;
    font-size: var(--font-size-nav);
 }


 .site-start > header {
    background-color: var(--primary);
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background-image: url("/assets/icons/bg-pattern-home-1.svg");
    background-repeat: no-repeat;
    background-position: -10% 30%;
}

.site-start > header > div:first-child {
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.site-start > header > div:first-child > h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 25%;
    margin-left: 15%;
}

.site-start > header > div:first-child > h1 > span{
    color: var(--seconday)
}

.site-start > header > div:last-child {
   display: flex;
   flex-basis: 50%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url("/assets/icons/bg-pattern-home-2.svg");
   background-repeat: no-repeat;
   background-position: bottom center;
}

.site-start > header > div:last-child > div {
    position: absolute;
    background-color: var(--primary-ligth);
    width: 3%;
    height: 0.7%;
    margin-right: 280px;
    margin-bottom: 200px;
}

.site-start > header > div:last-child > p {
   font-weight: bold;
   font-size: 0.8rem;
   width: 50%;
   text-align:left;
}

.site-start > section > div:nth-child(1) {
    height: 90vh;
    display: flex;
    background-color: var(--primary-dark);
    color: white;
    padding: 10%;
    background-image: url("/assets/icons/bg-pattern-home-3.svg");
    background-repeat: no-repeat;
    background-position: 110% 100%;
}

.site-start > section > div:nth-child(1) > div {
    flex-basis: 50%;
    padding: 20px;
}

.site-start > section > div:nth-child(1) > div:first-child {
    font-size: 1.5rem;
    padding-right: 15%;
}
.site-start > section > div:nth-child(1) > div:first-child > div {

    background-color: var(--seconday);
    width: 10%;
    height: 1%;
    margin-bottom: 20px;
}

.site-start > section > div:nth-child(1) > div:last-child > div{
    display: flex;
}

.site-start > section > div:nth-child(1) > div:last-child > div > div {
    margin: 5px;
}

.site-start > section > div:nth-child(1) > div:last-child > div > div > span {
    color: var(--seconday);
    font-size: large;
    font-weight: bold;
}

.site-start > section > div:nth-child(1) > div:last-child > div > div > p {
    margin-top: 10px;
}

.site-start > section > div:nth-child(2)  {
    height: 100vh;
    background-color: var(--primary);
    color: white;
    padding: 10%;
    justify-content: center;
    text-align: center;
    background-image: url("/assets/icons/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
}

.site-start > section > div:nth-child(2) > h2  {
    font-size: 2.5rem;
    text-align:center;
    margin-bottom: 20px;
}

.site-start > section > div:nth-child(2) > h2 > span {
    color: var(--primary-ligth)
}

.site-start > section > div:nth-child(2) > div {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.site-start > section > div:nth-child(2) > div > div {
    background-image: url("/assets/icons/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.site-start > section > div:nth-child(2) > div > div > p:first-child {
    margin: 30px;
    font-size: 14px;
}

.site-start > section > div:nth-child(2) > div > div > span {
    color: var(--primary-ligth);
    font-weight: bold;
}

.site-start > section > div:nth-child(2) > div > div > img {
    border-radius: 50%;
    width: 20%;
    margin: auto;
    margin-top: 15px;
    border: 3px solid var(--primary-ligth);
}

.site-start > section > div:nth-child(3)  {
    display: flex;
    height: 30vh;
    background-color: var(--seconday);
    color: var(--primary-dark);
    justify-content: space-around;
    align-items: center;
}

.site-start > section > div:nth-child(3) > h2 {
    font-size: 3rem;
}

.site-start > section > div:nth-child(3) > button {
   background-color: transparent;
   font-size: large;
   font-weight: bold;
   padding: 10px;
   border: solid 1.5px var(--primary-dark);
   border-radius: 20px;
   color: var(--primary-dark);

}

.site-start > footer {
    background-color: var(--primary-dark);
    color: white;
    display: flex;
    height: 40vh;
}

.site-start > footer > div {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-start > footer > div:nth-child(2) {
    flex-basis: 50%;
}

.site-start > footer > div:first-child {
    align-items: center;
} 

.site-start > footer > div:first-child > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.site-start > footer > div:first-child > div {
    font-weight: bold;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.site-start > footer > div:nth-child(2){
    color: var(--primary-ligth);
    margin-left: 5%;
}

.site-start > footer > div:nth-child(3){
    align-items:flex-end;
    justify-content: space-around;
    margin-right: 5%;
    color: var(--primary-ligth);
}

.site-start > footer > div:nth-child(3) > div > img{
    margin-right: 10px;
    width: 20%;
}

/*88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888

CONTACT DESKTOP

88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.contact h2, h1, p {
    padding: 0;
    margin: 0;
}

.contact > div {
    background-color: var(--primary);
    display: flex;
    font-family: var(--bs-font);
    width: 100%;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-around;
    padding: 30px;
    
}

.contact  > div > div:first-child {
    display: flex;
}
.contact > div > div:first-child > span {
   position: relative;
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px;
   color: var(--bs-white);
}

.contact  > div > div:first-child > nav {
   position: relative;
   display: flex;
}

.contact  > div > div:first-child > nav > li{
   list-style: none;
   background-color: transparent;
   margin-left: 10px;
   padding: 15px;
}


.contact  > div > div:first-child > nav > li > a{
   text-decoration: none;
   font-weight: 700;
   color: var(--bs-white);
   text-transform: capitalize;
   
}

.contact  > div > div:last-child > button{
   background-color: transparent;
   font-size: small;
   padding: 10px;
   border: solid 1px white;
   border-radius: 20px;
   color: white;  
}



.contact > header {
    z-index: 1;
 }

 .contact > div > a {
    text-decoration: none;
    color: var(--bs-white);
    font-weight: bold;
    font-size: var(--font-size-nav);
 }

 .contact > section {
     background-color: var(--primary);
     height: 100vh;
     display: flex;
     justify-content: center;
     background-image: url("/assets/icons/bg-pattern-about-2-contact-1.svg");
     background-repeat: no-repeat;
     background-position: -10% 30%;

 }

 .contact > section > div {
     display: flex;
     width: 100vw;
     justify-content: center;
     align-items: center;
     background-image: url("/assets/icons/bg-pattern-contact-2.svg");
     background-repeat: no-repeat;
     background-position: 110% 100%;
 }



 .contact > section > div > div{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.contact > section > div > div > h1{
    font-size: 5rem;
}

.contact > section > div > div > span{
    color: var(--seconday);
    
    font-size: 1.5rem;
}

.contact > section > div > div > div{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.contact > section > div > div > div > p{
    margin-left: 10px;
}

.contact > section > div > div > form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

.contact > section > div > div > form > input{
    background-color: transparent;
    border: none;
    border-bottom:2px solid var(--primary-ligth);
    padding: 20px;
    outline: none;
}

.contact > section > div > div > form > input:nth-child(5){
    padding-bottom: 60px;
}

.contact > section > div > div > form > input::placeholder{
    color: var(--primary-ligth);
}

.contact > section > div > div > form > input:focus {
    border-bottom: 3px solid var(--seconday);
}

.contact > section > div > div > form > input:focus::placeholder {
    color: var(--seconday);
}
.contact > section > div > div > form > button{
    border: none;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
    color: var(--primary);
    margin-top: 10px;
}




.contact > footer {
    background-color: var(--primary-dark);
    color: white;
    display: flex;
    height: 40vh;
}

.contact > footer > div {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact > footer > div:nth-child(2) {
    flex-basis: 50%;
}

.contact > footer > div:first-child {
    align-items: center;
} 

.contact > footer > div:first-child > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact > footer > div:first-child > div {
    font-weight: bold;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.contact > footer > div:nth-child(2){
    color: var(--primary-ligth);
    margin-left: 5%;
}

.contact > footer > div:nth-child(3){
    align-items:flex-end;
    justify-content: space-around;
    margin-right: 5%;
    color: var(--primary-ligth);
}

.contact > footer > div:nth-child(3) > div > img{
    margin-right: 10px;
    width: 20%;
}

/*888888888888888888888888888888888888888888888888888888888888888888888888888888888888888

ABOUT DESKTOP

888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.about h2, h1, p {
    padding: 0;
    margin: 0;
}

.about > div {
    background-color: var(--primary);
    display: flex;
    font-family: var(--bs-font);
    color: white;
    width: 100%;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    padding: 30px;
    
}

.about > div > div:first-child {
    display: flex;
}
.about > div > div:first-child > span {
   position: relative;
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px;
   color: var(--bs-white);
}

.about > div > div:first-child > nav {
   position: relative;
   display: none;
}

.about > div > div:first-child > nav > li{
   list-style: none;
   background-color: transparent;
   margin-left: 10px;
   padding: 15px;
}


.about > div > div:first-child > nav > li > a{
   text-decoration: none;
   font-weight: 700;
   color: var(--bs-white);
   text-transform: capitalize;
   
}

.about > div > div:last-child > button{
   background-color: transparent;
   font-size: small;
   padding: 10px;
   border: solid 1px white;
   border-radius: 20px;
   color: white;
   display: none;

   
}



 .about > header {
    z-index: 1;
 }

 .about > div > a {
    text-decoration: none;
    color: var(--bs-white);
    font-weight: bold;
    font-size: var(--font-size-nav);
 }


.about > header {
    background-color: var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background-image: url("/assets/icons/bg-pattern-about-1-mobile-nav-1.svg");
    background-repeat: no-repeat;
    background-position: 110% 100%;
}

.about > header > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}

.about > header > div:first-child > h1 {
    font-size: 5rem;
    font-weight: bold;

}

.about > header > div:first-child > h1 > span{
    color: var(--seconday)
}

.about > header > div:last-child {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.about > header > div:last-child > p {
   font-weight: bold;
   font-size: 0.8rem;
   width: 50%;
   text-align:left;
}

.about > section {
    background-color: var(--primary-semi);
    color: white;
    background-image: url("/assets/icons/bg-pattern-about-2-contact-1.svg");
    background-repeat: no-repeat;
    background-position: -10% 0%;
}

.about > section > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 98vw;
    background-image: url("/assets/icons/bg-pattern-home-5.svg");
    background-repeat: no-repeat;
    background-position: 110% 100%;
    padding-top: 5%;;
}

.about > section > div > h2 {
    font-size: 2rem;

}

.about > section > div > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.about > section > div > div > div{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 10px;
    margin: 3%;
    background-color: var(--primary-dark);
}

.about > section > div > div > div > span {
    color: var(--primary-ligth);
    font-weight: bold;
}

.about > section > div > div > div > img {
    border-radius: 50%;
    width: 40%;

    border: 3px solid var(--primary-ligth);
}

.about > section > div > div > div > div {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color:var(--seconday);
    height: 30px;
    width: 30px;
    margin-top: 200px;
}

.about > section > div > div > div > div > img {
    margin: auto;

    
}

.about > footer {
    background-color: var(--primary-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url("/assets/icons/bg-pattern-about-4.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 150px;
}

.about > footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.about > footer > h2{
    font-size: 2rem;
}

.about > footer > div > img {

    width: 10%;
    margin: 10px;
}