

:root{
    --primary-ligth: #7dc3c5;

    --primary: #014e58;
  
    --primary-dark: #002528;
  
    --seconday: #f67e7f;
  
    --white: #fff;
  
    --black: #000;
  
    --gray-light: #bbbbbb;
  
    --gray: #6c757d;
  
    --gray-dark: #343a40;
  
    --light: #f8f9fa;
  
    --dark: #212529;
}

h2, h1, p {
    padding: 0;
    margin: 0;
}

main > div {
    background-color: var(--primary);
    display: flex;
    font-family: var(--bs-font);
    width: 100%;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-around;
    padding: 30px;
    
}

main  > div > div:first-child {
    display: flex;
}
main > div > div:first-child > span {
   position: relative;
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px;
   color: var(--bs-white);
}

main  > div > div:first-child > nav {
   position: relative;
   display: flex;
}

main  > div > div:first-child > nav > li{
   list-style: none;
   background-color: transparent;
   margin-left: 10px;
   padding: 15px;
}


main  > div > div:first-child > nav > li > a{
   text-decoration: none;
   font-weight: 700;
   color: var(--bs-white);
   text-transform: capitalize;
   
}

main  > div > div:last-child > button{
   background-color: transparent;
   font-size: small;
   padding: 10px;
   border: solid 1px white;
   border-radius: 20px;
   color: white;  
}



 main > header {
    z-index: 1;
 }

 main > div > a {
    text-decoration: none;
    color: var(--bs-white);
    font-weight: bold;
    font-size: var(--font-size-nav);
 }

 main > section {
     background-color: var(--primary);
     height: 100vh;
     display: flex;
     justify-content: center;
     background-image: url("/assets/icons/bg-pattern-about-2-contact-1.svg");
     background-repeat: no-repeat;
     background-position: -10% 30%;

 }

 main > section > div {
     display: flex;
     width: 100vw;
     justify-content: center;
     align-items: center;
     background-image: url("/assets/icons/bg-pattern-contact-2.svg");
     background-repeat: no-repeat;
     background-position: 110% 100%;
 }



 main > section > div > div{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
}

main > section > div > div > h1{
    font-size: 5rem;
}

main > section > div > div > span{
    color: var(--seconday);
    
    font-size: 1.5rem;
}

main > section > div > div > div{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

main > section > div > div > div > p{
    margin-left: 10px;
}

main > section > div > div > form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

main > section > div > div > form > input{
    background-color: transparent;
    border: none;
    border-bottom:2px solid var(--primary-ligth);
    padding: 20px;
    outline: none;
}

main > section > div > div > form > input:nth-child(5){
    padding-bottom: 60px;
}

main > section > div > div > form > input::placeholder{
    color: var(--primary-ligth);
}

main > section > div > div > form > input:focus {
    border-bottom: 3px solid var(--seconday);
}

main > section > div > div > form > input:focus::placeholder {
    color: var(--seconday);
}
main > section > div > div > form > button{
    border: none;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
    color: var(--primary);
    margin-top: 10px;
}




main > footer {
    background-color: var(--primary-dark);
    color: white;
    display: flex;
    height: 40vh;
}

main > footer > div {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > footer > div:nth-child(2) {
    flex-basis: 50%;
}

 main > footer > div:first-child {
    align-items: center;
} 

main > footer > div:first-child > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main > footer > div:first-child > div {
    font-weight: bold;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

main > footer > div:nth-child(2){
    color: var(--primary-ligth);
    margin-left: 5%;
}

main > footer > div:nth-child(3){
    align-items:flex-end;
    justify-content: space-around;
    margin-right: 5%;
    color: var(--primary-ligth);
}

main > footer > div:nth-child(3) > div > img{
    margin-right: 10px;
    width: 20%;
}



