:root{
    --primary-ligth: #7dc3c5;
    --primary: #014e58;
    --primary-dark: #002528;
  
    --seconday: #f67e7f;
  
    --white: #fff;
    --black: #000;
  
    --gray-light: #bbbbbb;
    --gray: #6c757d;
    --gray-dark: #343a40;
  
    --light: #f8f9fa;
    --dark: #212529;
}

@viewport {
    zoom: 0.5;
    width: device-width;
}
body{
    color: var(--white);
}
nav{
    display: none;
}
/*---------------------------
HEADER
---------------------------*/
main > div:first-child {
    position: absolute;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > div:first-child > div:first-child > span{
    font-size: 2rem;
    font-weight: bold;
}
main > div:first-child > *{
    margin: 0 5vw;
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary);
    background-image: url("../../assets/icons/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
header > div {
    margin-top: 2rem;
}
header > div:first-child > h1{
    font-size: 2.8rem;
    text-align: center;
    margin: 0 25vw;
}
header > div:first-child > h1 > span{
    color: var(--seconday);    
}
header > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header > div:last-child > p {
    margin: 0 10vw;
}

/*-------------------------
HOME
-------------------------*/

#home{
    background-color: var(--primary-dark);
}
#home > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*-------------------------
HOME DIV 1
-------------------------*/
#home > div:first-child{
    background-image: url("../../assets/icons/bg-pattern-home-3.svg");
    background-repeat: no-repeat;
    background-position: 125% 0%;
    background-size: 75%;
}

#home > div:first-child > div > h2{
    font-size: 2.2rem;
    margin: 20vh 40vw 10vh 10vw;
}
#home > div:first-child > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5vh 5vw;
}
#home > div:first-child > div > div > div:nth-child(2) > span{
    color: var(--seconday);
    font-size: 1.2rem;
    font-weight: bold;
}
#home > div:first-child > div > div > div > p{
    font-size: 1.1rem;
}

/*-------------------------------
HOME DIV 2
---------------------------------*/

#home > div:nth-child(2) {
    padding-bottom: 10vh;
    background-color: var(--primary);
}
#home > div:nth-child(2) > h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 20vh 10vw 10vh 10vw;
}
#home > div:nth-child(2) > h2 > span {
    color: var(--primary-ligth);
}
#home > div:nth-child(2) > div{
    margin: 5vh 5vw;
}
#home > div:nth-child(2) > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0;
}
#home > div:nth-child(2) > div > div > img{
    width: 20%;
    border-radius: 50%;
}
#home > div:nth-child(2) > div > div > span{
    color: var(--primary-ligth);
    font-weight: bold;
    font-size: 1.4rem;
}

/*-------------------------------
HOME DIV 3
---------------------------------*/

#home > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20vw;
    background-color: var(--seconday);
    color: var(--black);
}
#home > div:nth-child(3) > h2 {
    font-size: 2.2rem;
}
#home > div:nth-child(3) > button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.3rem;
    border-radius: 50px;
    border-color: var(--black);
    background-color: var(--seconday);
}

/*-------------------------------
FOOTER
---------------------------------*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-dark);
}

footer > div:first-child > h2{
    text-align: center;
    font-weight: bold;
    margin: 10vh 0 5vh;
}
footer > *:not(h2){
    font-size: 1.2rem;
}
footer > div:nth-child(1) > div > span{
    margin: 0 3vw;    
}
footer > div:nth-child(2){
    margin: 3vh 0;
}
footer > div:nth-child(3) > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

footer > div > p{
    margin: 1vh;
    color: var(--gray-light);
}